<div>
  <h1>FoxMaps - um simples mapa de exemplo, interativo. </h1>
</div>
<nav class="menu-superior">
  <ul>
    <li>{{#link-to 'index'}}In&iacute;cio{{/link-to}}</li>
    <li>{{#link-to 'mapa'}}Mapa{{/link-to}}</li>
    <li>{{#link-to 'adicionar'}}Adicionar{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
